
@media(max-width: 1115px){
	.header, .vision-grid-list{padding: 0 50px;}
	.home-banner{padding: 50px ;}
	.container-fluid{padding: 80px 50px;}
	.team-img{ width: 150px; height: 150px;}
	.bridging { gap: 40px;}
}


@media( max-width: 992px){
	.header{padding: 0 20px;}
	.nav-toggle{ display: inline-block; }
	.mobile-logo{ display: flex; margin: 20px 0 30px;  }
	.navigation-menu{ position: fixed; left: 0;visibility: hidden; opacity: 0; top: 0; transition: opacity .2s ease; overflow-y: auto; width: 100%; height: 100vh;  padding: 20px; flex-direction: column;  align-items: stretch; background: var(--bg); }
	.navigation-show{ opacity: 1; visibility: visible;}
	.navigation,.nav-buttons{ flex-direction: column; text-align: center; gap: 40px;}
	.nav-link, .nav-btn{ font-size: 1.5rem; color: var(--black); }
	.nav-btn{ width: 100%;padding: 15px;}
	.home-banner-text, .how-it-works-banner-text{ text-align: center; }
	.banner-title{font-size: 2rem; line-height: 3rem;}
	.home-banner{ height: auto;  flex-direction: column;padding: 50px 40px;}
	.home-banner-image-wrapper{ width: 340px;height: 450px; align-items: flex-start; margin: 40px auto;}
	.banner-image{ width: 100%;left: -20px; height: 400px;}
	.vision .swiper{overflow: hidden!important;}
	.banner-list-text{ text-align: left!important; }
	.vision-grid-list{ height: auto; padding: 0 30px; }
	.top-desc{ padding: 5px 10px ; }
	.container-fluid{padding: 80px 30px;}.img-round:nth-child(1){width: 60px;  height: 60px; }
	.testimonial-slides-box{ background: transparent; box-shadow: unset; margin: 15px 0; height: 250px;}
	.quote{padding: 0 0 0 30px;}
	.testimonial-slides-img{ width: 80px; height: 80px;}
	.img-round{ z-index: 5; }
	.img-round:nth-child(1){width: 30px;  height: 30px; }
	.img-round:nth-child(2){ width: 40px; height: 40px; right: 4%; }
	.img-round:nth-child(3){width: 35px; height: 35px; top: 90px; left: 14%;}
	.img-round:nth-child(4){width: 28px;  height: 28px;top: 95px; right: 20%;}
	.img-round:nth-child(5){width: 22px;  height: 22px;top: 180px; left: 5%;}
	.img-round:nth-child(6){width: 40px;  height: 40px;top: 180px;  right: 0;}
	.img-round:nth-child(7){width: 35px;  height: 35px;top: 230px; left: 1.2%;}
	.img-round:nth-child(8){width: 25px;  height: 25px;top: 230px; right: 8%;}
	.next-pagination{ right: 10%; }
	.prev-pagination{ left: 10%;}
	.noblemerian, .grid-lists, .bridging,.footer, .about-top-desc{ flex-direction: column; height: auto;}
	.about-image-box{height: 350px;}
	.about-ventures{ flex-wrap: wrap; gap: 30px;}
	.about-ventures > *{ flex-basis: 100%; }
	.ventures-slides{ width: 300px!important; height: 300px!important;}
	.about-gallery .grid-lists{ flex-direction: row; flex-wrap: wrap; gap:30px 0; justify-content: space-between;} 
	.about-gallery .col-3{ flex-basis: 47%; height: 150px;}
	.about-join .grid-lists{ gap:30px; }
	.signup .grid-lists{padding: 0 30px; gap: 120px;}
	.noblemerian-text{ padding: 70px 30px; text-align: center;}
	.noblemerian .top-title{ font-size: 1.5rem; }
	.bridging { gap: 10px;}
	.bridging-text { text-align: center; margin: 18px 0 0;}
	.bridging img, .noblemerian .text{ width: 100%; }

	.form-container{ width: 92%; padding: 40px 10px;}
	.form-container .top-title, .top-title-md{ font-size: 1.5rem; }
	.form-control{padding:22px 15px; font-size: 1rem;}
	.form-group{  margin: 0 0 20px;}
	.form-btn{font-size: 1.4rem; border-radius: 10px;}
	.contact-box-wrapper{ flex-direction: column; }
	.contact-us-box{ padding: 100px 10px 100px 18px;}
	.contact-us{ padding-left: 10px; padding-right: 10px; }
	.contact-list-icon{ margin-top: 80px; }
	.contact-box-wrapper{ box-shadow: unset; }
	.contact-us-box:first-child{ border-radius: 15px 15px  0 0;}
	.form-btn-sm{ width: 100%; }
	.contact-desc-text{ gap:10px; }
	.contact-desc-text .text-md{ font-size: 1rem; }
	.page-title{ font-size: 1.8rem; text-align: center; }
	.page-desc{ margin: 50px 0 0; }

	.faqs-search{ height: 40vh; }
	.faqs-search .top-title{ font-size: 2rem; text-align: center; }
	.faqs-search-inner{ max-width: 95%; }
	.search-input{padding: 25px ; }
	.faqs-panel-container{ padding: 50px 20px;}
	.faqs-panel-top{ gap: 15px; align-items: flex-start;}
	.faqs-icon-box{ width: 25px; height: 25px;}

	.how-it-works .grid-lists{ gap:20px; }
	.how-it-works-list{ height: auto; padding: 50px 30px; }
	.how-it-works-list  .text-md{ font-size: 1.2rem; line-height: 2rem; }
	.footer-img{ width: 250px; }
	.footer{ padding: 100px 30px; gap: 30px;}
	.footer-icon-list{ justify-content: flex-start; }
	.footer-list:last-child{ text-align: left;  }
	.how-it-works-banner-img{ margin-top: 120px; }
	.how-it-works-banner-img img{ max-width: 350px; }
	.how-it-works-banner-img img:nth-child(2){ position: absolute; max-width: 320px;}
	.how-it-works-banner-img img:nth-child(3){ position: absolute; left: 50%; transform: translateX(-50%);bottom: 9.8%;}
	.how-it-works-banner{ position: relative!important; padding-bottom: 150px;}
	
	.curve-arrow{ top: 88%!important;  left: 50%; transform: translateX(-50%); width: 100px; }
	
}